/*start varibles*/
:root {
    --main-color: #19c8fa;
    --transfer-color: rgb(15 116 143 /70%);
    --section-padding: 100px;
}

/*end varibles*/
/*start globle rules*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*small*/
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/*medium*/
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/*large*/
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/*end  globle rules*/
/*start component*/
.man-heading {
    text-align: center;

}

.man-heading h2 {
    font-size: 35px;
    font-weight: normal;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;

}

.man-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
}


.man-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    bottom: -36px;
    z-index: 1;
    border: 1px solid #333;
}


.man-heading p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #777;
}



/*end component*/

/*start header*/
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}

header .container::after {
    content: "";
    position: absolute;
    bottom: 0%;
    background-color: #a2a2a2;
    width: calc(100% - 30px);
    height: 1px;
    left: 15px;
    z-index: -1;
}

header .logo img {
    height: 60px;
}

nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav img.menu {
    height: 20px;
}

@media(min-width: 768px) {
    nav img.menu {
        display: none;
    }
}

nav img.menu:hover+ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.452);
    width: 100%;
}

nav img.menu:hover+ul li a {
    padding: 15px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

@media(max-width: 767px) {
    nav ul {
        display: none;
    }
}

nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: .3s;
    padding: 40px 10px;
    text-transform: uppercase;
    margin-right: 10px;
}

li a.active,
li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

nav .form img {
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;

}

nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 10px;
    border-left: 1px solid white;
    right: 0%;
}

/*end header*/
/*start landing*/
.landing {
    min-height: 100vh;
    background-color: #1f2021;
    background-size: cover;
    background-position: center;
    position: relative;
}

.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /60%);
}

.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 55%;
    padding: 55px;
    background-color: var(--transfer-color);
    color: white;
    display: flex;
    justify-content: flex-end;
}

.content {
    max-width: 400px;
}

@media(max-width: 767px) {
    .landing .text {
        width: 100%;

    }

    .content {
        max-width: 100%;
    }
}



.content h2 {
    line-height: 1.6;
    font-weight: normal;
    font-size: 28px;
    margin-bottom: 20px;

}

.content p {
    font-size: 13px;
    line-height: 1.9;
}

img.left,
img.right {
    position: absolute;
}

@media(max-width: 767px) {

    img.left,
    img.right {
        display: none;
    }
}

img.left {
    left: 15px;
    top: 50%;
    transform: translateY(-50%);

}

img.right {
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

ul.bullets {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.landing ul li {
    width: 14px;
    height: 14px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
}

.landing li.active {
    background-color: var(--main-color);
}

/*end landing*/
/*start heading*/
.section {
    padding: 100px;
}

/*end heading*/
/*start section*/
.section4 {
    padding-top: 100px;
    padding-bottom: 100px;
}

@media(min-width: 768px) {
    .ser-contact {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        gap: 60px 40px;
    }
}

.section4 .ser-box {
    display: flex;
    transition: 1s;
}

.ser-box:hover {

    transform: scale(1.1);
}

@media (max-width: 767px) {
    .ser-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }

    .ser-box img {
        margin-left: 45%;
        margin-bottom: 20px;

    }
}

.ser-box img {
    margin-right: 60px;
}

.ser-box h3 {
    margin-bottom: 25px;
    color: var(--main-color);
}

.ser-box p {
    line-height: 2;
    color: #777;
    font-size: 14px;
}

/*end section*/
/*design*/
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #f6f3f7;
    position: relative;
    height: 600px;

}

.design img.photo {
    position: absolute;
    bottom: 0px;
    left: 20%;
    width: 260px;
    height: 400px;
    transition: 1s;
}

.design .conment {
    position: absolute;
    right: 0;
    width: 600px;
    background-color: rgba(15, 116, 143, 0.56);
    bottom: 30%;
    transition: 1s;
}

@media(max-width: 767px) {
    .design .conment {
        width: 100%;
        text-align: center;
    }
}

@media(max-width: 992px) {
    .design img.photo {
        display: none;
    }
}


.conment h3,
.con {
    padding: 30px;
    color: white
}

.conment h3 {
    text-transform: uppercase;
    font-size: 25px;
    color: black;
}

.con .part1 {
    display: flex;
    margin-bottom: 15px;
}

.con .part1 img {
    margin-right: 30px;
}

.part1 .text22 p {
    text-transform: uppercase;
    font-size: 14px;
}

/*end design*/
/*start protfilio*/
.protflio {
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);
}

.comt ul {
    display: flex;
    justify-content: center;

}

ul.temp li a {
    text-decoration: none;
    margin-right: 50px;
    color: #1f2021;
    text-transform: uppercase;
    font-size: 16px;
}

@media (max-width: 768px) {
    ul.temp li a {
        margin-right: 10px;
    }
}

ul.temp li a:hover {
    padding: 15px;
    background-color: var(--main-color);
}


.imgs-cont {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.protflio .box {
    position:
        relative;
    overflow: hidden;
    margin-bottom: 18px;
}



@media (min-width: 768px) {
    .box {
        flex-basis: 50%;
    }

}

@media (min-width: 1199px) {
    .imgs-cont .box {
        flex-basis: 25%;

    }

}

.box img {
    max-width: 100%;
    transition: 1s;

}

.box img:hover {
    transform: scale(1.1);

}

.box .caption {
    padding: 20px 20px;
    transition: 1s;
    position: absolute;
    left: 0;
    bottom: -100%;
    background-color: white;
    width: 100%;
}

.box:hover .caption {
    bottom: 0%;
    background-color: #686880bd;
    overflow: visible;
}


.caption h4 {
    text-transform: uppercase;
    margin-bottom: 15px;
    color: white;

}

.caption p {
    color: #022731;
}

a.more {
    text-decoration: none;
    color: white;
    background-color: var(--main-color);
    margin-top: 30px;
    padding: 15px 20px;
    display: block;
    width: fit-content;
    margin: 30px auto;
    text-transform: uppercase;
    transition: 1s;
}

a.more:hover {
    background-color: #1f2021;
}

/*end protfilio*/
/*start viduo*/
.viduo {
    position: relative;
}



.viduo::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 3%);

}

video.vim {
    width: 100%;
}

.text33 {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    padding: 100px;
    background-color: rgba(15, 116, 143, 0.53);
    color: white;
    text-align: center;
}

@media(max-width: 767px) {
    .text33 {
        display: none;
    }
}

.text33 h3 {
    margin-top: -5px;
    margin-bottom: 35px;
    text-transform: uppercase;
    font-size: 30px;
}

.text33 p {
    margin-bottom: 30px;
}

.text33 button {
    background-color: black;
    border: none;
    color: white;
    padding: 18px 25px;

}

button:hover {
    background-color: #b9d0d7;
    color: black;
}

/*end viduo*/
/*about*/
.about {
    padding-top: var(--section-padding);
    overflow: hidden;
}

.imges {
    overflow: hidden;
}

.imges img {
    display: flex;
    margin-top: 60px;
    margin-left: 25%;
    margin-bottom: -40px;
    width: 600px;
    height: 350px;

}

@media(max-width: 767px) {
    .imges img {
        width: 310px;
        height: 200px;
        margin-left: 3px;
        margin: 30px auto;
    }
}

/*end about*/
/*stat*/
.stat {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    background-size: cover;
    position: relative;
}

.stat::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 /60%);

}

.stat .container {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--transfer-color);
    padding: 80px 0;
}

.stat .box66 {
    color: white;
}

.stat .box66 img {
    margin-bottom: 30px;
}

.stat .box66 .number {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 15px;
}

.stat .box66 p {
    font-size: 15px;
}

@media (max-width: 767px) {
    .stat .container .box66 {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) {
    .stat .container .box66 {
        flex-basis: 50%;
        margin-bottom: 40px;
    }
}

@media (min-width: 1200px) {
    .stat .container .box66 {
        flex-basis: 25%;

    }
}

/*end stat*/
/*start our skills*/
.skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (min-width: 992px) {
    .skills .container>div {
        flex-basis: 45%;

    }
}

.skills .container>div>h3 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;

}

.skills .container>div>p {
    color: #777;
    font-size: 18px;
    line-height: 1.8;
    text-align: center;
    margin-bottom: 60px;
}

.skills .content2 {
    display: flex;
    margin-bottom: 60px
}

.skills .content2 img {
    width: 80px;
    height: 80px;
    margin-right: 30px;
    border-radius: 50%;
}

@media (max-width: 767px) {

    .skills .content2 {
        flex-direction: column;
        text-align: center;
    }

    .skills .content2 img {
        margin: 0 auto 20px;
    }

    .container ul.bollets {
        margin: auto;
    }
}

.skills .content2 .text {
    border-bottom: 1px solid #cccc;
}

.skills .content2 .text p {
    line-height: 1.8;
}

.skills .content2 .text p.pxp {
    float: right;
    color: #333;
}

.container ul.bollets {
    display: flex;
    margin-left: 62%;
    transform: translateX(-50%);
    margin-bottom: 30px;


}

.container ul.bollets li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 15px;
    border: 1px solid #333;
}

.container ul.bollets li.active {
    background-color: var(--main-color);
}

.temptwo .prog-houlder {
    margin-bottom: 50px;
}

.temptwo .prog-houlder h4 {
    font-weight: normal;
    margin-bottom: 15px;
    font-size: 20px;
    text-transform: uppercase;
}

.temptwo .prog-houlder .prog {
    background-color: #dedadc;
    height: 30px;
}

.temptwo .prog-houlder .prog span {
    background-color: var(--main-color);
    display: block;
    height: 100%;
    position: relative;
    transition: 1s;
}

.temptwo .prog-houlder .prog span:hover {
    transform: scaleX(300px);
}

.temptwo .prog-houlder .prog span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    top: -40px;
    height: 20px;
    right: -18px;
    padding: 4px 0;
    text-align: center;
    width: 40px;
    border-radius: 4px;
}

.temptwo .prog-houlder .prog span::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: black transparent transparent transparent;
    right: -8px;
    top: -15px;
}

/*end our skills*/
/*start Quote*/
.Quote {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
}

.Quote::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 /60%);

}

.Quote .container {
    position: relative;
}

.Quote q {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
    display: block;
    margin-top: 40px;
}

/*end Quote*/
/*start  Pricing*/
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;

}

.pricing .plans .plan {
    background-color: #fcfcfc;
    text-align: center;
}

.pricing .plans .plan .heed {
    padding: 40px 20px;
    border-bottom: 1px solid var(--main-color);
    border-top: 1px solid var(--main-color);
}

.pricing .plans .plan .heed h3 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.pricing .plans .plan .heed span {
    font-size: 50px;
    font-weight: 600;

}

.pricing .plans .plan .heed span::before {
    content: "$";
    position: relative;
    font-size: 20px;
    font-weight: normal;
    top: -40px;
    margin-right: 15px;
}

.pricing .plans .plan .heed span::after {
    content: "/MO";
    position: relative;
    font-size: 25px;
    font-weight: 500;
    right: -15px;
}

.pricing .plans .plan ul {
    border-bottom: 1px solid var(--main-color);
}

.pricing .plans .plan ul li {
    padding: 20px;
    position: relative;
}

.pricing .plans .plan ul li:not(:last-child)::after {
    content: "";
    height: 1px;
    width: 120px;
    background-color: var(--main-color);
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.pricing .plans .plan .foot a {
    text-decoration: none;
    display: block;
    padding: 20px 20px;
    border: 1px solid var(--main-color);
    width: fit-content;
    margin: 30px auto;
}

p.contact-text {
    text-align: center;
    margin: 50px 0 20px;
    font-size: 20px;
}

a.contact-link {
    display: block;
    width: fit-content;
    margin: 20px auto;
    background-color: var(--main-color);
    color: white;
    padding: 15px 30px;
    text-decoration: none;
}

/*end  Pricing*/
/*Subscribe*/
.subscribe {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-size: cover;
    color: white;
}

.subscribe .container {
    display: flex;
    align-items: center;
    position: relative;
}

@media(max-width: 991px) {
    .subscribe .container {
        flex-direction: column;
    }

    .subscribe .container p {
        margin: 30px 0 0;
    }
}

.subscribe .container form {
    display: flex;
    max-width: 100%;
    width: 500px;
}

.subscribe .container form input[type="search"] {
    border: 1px solid white;
    border-right: none;
    background-color: transparent;
    padding: 20px 20px 20px 60px;
    caret-color: var(--main-color);
    outline: none;
    width: calc(100% - 130px);
}

.subscribe .container form input[type="submit"] {
    width: 130px;
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-left: none;
    text-transform: uppercase;
}

.subscribe .container p {
    margin-left: 50px;
    line-height: 2;
}

/*end Subscribe*/
/*Contact Us*/
.Contact-U {
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);
    background-size: cover;

}

.Contact-U .container .wxwx {
    display: flex;
    justify-content: space-between;
}

.Contact-U .container .contactt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 70%;
}

@media(max-width: 991px) {
    .Contact-U .container .wxwx {
        display: flex;
        flex-direction: column;
    }



}

.Contact-U .container .contactt input,
textarea {
    padding: 16px;
    margin-bottom: 20px;
}

.Contact-U .container .contactt input[type="submit"] {
    text-transform: uppercase;
    width: fit-content;
    background-color: var(--main-color);
    color: white;
    outline: none;
}

.Contact-U .container .wxwx .compont {
    margin-right: 55px;
}

.Contact-U .container .wxwx .compont>.compont {
    margin-top: 60px;
}

.Contact-U .container .wxwx .compont h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 26px;
}

.Contact-U .container .wxwx .compont p {
    margin-bottom: 10px;
    color: #333;
}

/*endContact Us*/
/*footer*/
.footer {
    padding-top: calc(var(--section-padding)/2);
    padding-bottom: calc(var(--section-padding)/2);
    background-size: cover;
    position: relative;
    color: white;
    margin-bottom: -100px;

}

.footer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 /40%);

}

@media(max-width: 767px) {
    .foot h3 {
        margin-left: 38px;
    }

    .photo {
        padding-top: 20px;
    }

    .foot img.mnmn {
        margin-top: -15px;
    }
}

.footer .container {
    position: relative;
}

.foot {
    text-align: center;
}

.foot img.mnmn {
    width: 150px;
}


.foot h3 {
    font-weight: normal;
    font-size: 20px;
    word-spacing: 4px;
    padding: 20px 10px;
    border-bottom: 1px solid white;
    width: fit-content;
    margin: auto;
}

.foot .photo {
    margin-top: 30px;
}

.foot .photo img {
    width: 20px;
    margin-right: 15px;
}

.foot p.last {
    margin-top: 55px;
}

.foot p.last span {
    color: var(--main-color);
}
/*end footer*/